@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

/* 書体はコメントの中に書く */
/* 
      font-family: 'Oswald', sans-serif;
      font-family: 'Raleway', sans-serif;

    color valus:
        #96746b
        #c7a17a
        #312a26
        #ffffff
        #f2f2f2
*/

/* Resert Declaration */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}
p,li,td,th {
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  width: 100%;
  margin: auto;
}

/* header section 1 */
.nav {
  /* border: 4px solid red; */
  width: 85%;
  margin: 1em auto;
  /* 親要素にoverflowを使う */
  overflow: auto;
}

.nav h1{
  /* border: 2px dashed green; */
  float: left;
}

.nav h1 a {
  color:#96746b ;
  text-decoration: none;
  text-transform: uppercase;
}

.nav ul {
  /* border: 2px dashed purple; */
  float: right;
  margin-top: 1em;
}

.nav ul li {
  display: inline;
  margin-left: 1em;
}

.nav ul li a {
  color:  #312a26;
  text-decoration: none;
  font-weight: 700;
}

/* banner section 2 */

.banner {
  /* border: 4px solid red; */
  height: 670px;
  background-image: url(../image/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner-text {
  /* border: 2px dashed yellow; */
  position: absolute;
  left: 7.5%;
  /* left: 50%; */
  top: 50%; 
  transform: translate(0,-50%);
  /* transform: translate(-50%,-50%); */
}
.banner-text h2 {
  color: #c7a17a;
  font-size: 4em;
  text-transform: uppercase;
}
.banner-text h2 span {
  color: #96746b;
}

.banner-text p {
  color: #ffffff;
}

.banner-text a {
  background:#312a26;
  padding: 1em;
  display: inline-block;
  margin-top: 1em;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* ads-1 section 3 */

.ads {
  /* border: 4px solid red; */
  width: 85%;
  margin: 4em auto;
  overflow: auto;
}

/* layouting */
.ads-items {
  /* border: 2px dashed yellow; */
  height: 350px;
  /* 50%より小さくする */
  width: 49%;
  float: left;
  position: relative;
}
/* 別々 */
.ads-item1 {
  background-image: url(../image/ads-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* left picture is pushing to left */
  margin-right: 2%;
}

.ads-item2 {
  background-image: url(../image/ads-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.ads-text {
  /* border: 2px dashed white; */
  position: absolute;
  left: 7.5%;
  /* left: 50%; */
  top: 50%; 
  transform: translate(0,-50%);
  /* transform: translate(-50%,-50%); */
  width: 50%;
}
.ads-text h3 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  /* 文字を見やすくするためにtext-shadowを使う */
  text-shadow: 3px 3px 5px #312a26;
  line-height: 1;
}
.ads-text a {
  display: inline-block;
  margin-top: 1em;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 3px 3px 5px #312a26;
}

/* merchandise section 4 */
.merch {
  border: 2px solid red;
  width: 85%;
  margin: 1em auto;
  overflow: auto;

}

.section-header {
  border: 2px solid yellow;
}

.section-header span {
  color: #96746b;
 display: block;
 text-align: center;
 font-weight: lighter;
 font-style: italic;
}

.section-header h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.section-header hr {
  margin-bottom: 2em;
  width: 50%;
  background: #c7a17a;
  margin: auto;
  height: 2px;
  margin-bottom: 2em;
}


.merch-gallery {
  /* border: 2px solid green; */
  overflow: auto;
  
}

.merch-items {
 margin-left: auto;
 margin-right: auto;
 float: left;
 text-align: center;
}

/* merch {
  border:4px solid red;
  width:85%;
  margin:4em auto */

/* .section-header {
  border:2px dashed yellow;
  text-align:center;
 } */

 /* .section-header span {
   color: #c7a17a;
   font-style: italic;
   font-family: 'Raleway', sans-serif; 
 } */

 /* .section-header hr {
   height: 2px;
   width: 30%;
   background: #c7a17a; */

/* merch-gallary {
  border:2px dashed green
  overflow:auto; */

/* merch-items:nth-child(4),.merch-items:nth-child(8) {
  margin-right:0; */

  /* march-items:nth-child(5),.merch-items:nth-child(6),.merch-items:nth-child(7),.merch-items:nth-child(8) {
    margin-top:1px; */

  /* merch-items img {
    width:100%; */
  
  /* .merch-items h3 {
    color: #312a26;
    text-transform: capitalize;
  } */

.merch-items1 {
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
}

.merch-items1 img{
 width: 100%;
}

.merch-items1 h3  {
  text-align: left;
}
.merch-items1 span  {
  text-align: left;
  display: block;
}
.merch-items1 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}


.merch-items2{
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
 
}
.merch-items2 img {
  width:100%
}
.merch-items2 h3  {
  text-align: left;
}
.merch-items2 span  {
  text-align: left;
  display: block;
}
.merch-items2 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}


.merch-items3 {
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
}
.merch-items3 img {
  width:100%;
}

.merch-items3 h3  {
  text-align: left;
}
.merch-items3 span  {
  text-align: left;
  display: block;
}
.merch-items3 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.merch-items4 {
  /* border: 2px solid blue; */
  width: 24.25%;
  font-size: 70%;
}
.merch-items4 img {
  width: 100%;
}

.merch-items4 h3  {
  text-align: left;
}
.merch-items4 span  {
  text-align: left;
  display: block;
}
.merch-items4 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.merch-items5 {
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
}
.merch-items5 img {
  width: 100%;
}

.merch-items5 h3  {
  text-align: left;
}
.merch-items5 span  {
  text-align: left;
  display: block;
}
.merch-items5 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.merch-items6 {
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
}
.merch-items6 img {
  width:100%;
}

.merch-items6 h3  {
  text-align: left;
}
.merch-items6 span  {
  text-align: left;
  display: block;
}
.merch-items6 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.merch-items7 {
  /* border: 2px solid blue; */
  width: 24.25%;
  margin-right: 1%;
  font-size: 70%;
}
.merch-items7 img {
  width:100%;
}

.merch-items7 h3  {
  text-align: left;
}
.merch-items7 span  {
  text-align: left;
  display: block;
}
.merch-items7 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.merch-items8 {
  /* border: 2px solid blue; */
  width: 24.25%;
  font-size: 70%;
}
.merch-items8 img {
  width:100%;
}

.merch-items8 h3  {
  text-align: left;
}
.merch-items8 span  {
  text-align: left;
  display: block;
}
.merch-items8 p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.discount {
  border: 4px solid red;
  background-image: url(../image/discount-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 350px;
  width: 85%;
  margin:4em auto;
}

.discount-text {
  border: 4px solid yellow;
  position: absolute;
  transform:translate(-50%,-50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.discount-text span {
  font-family: 'Raleway', sans-serif;
  font-style:italic;
  color: #ffffff;
}

.discount-text h2 {
  font-size: 2em;
  text-shadow: 3px 3px 5px #312a26;
  color: #ffffff;

}

.discount-text a {
  padding: 1em;
  background-color: rgba(255,255 ,255,.5);
  display: inline-block;
  margin-top: 1em;
  color: #312a26;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.ads-item3 {
  background-image: url(../image/ads-img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* left picture is pushing to left */
  margin-right: 2%;
}

.ads-item4 {
  background-image: url(../image/ads-img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.ads-item5 {
  background-image: url(../image/ads-img5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* left picture is pushing to left */
  margin-right: 2%;
  margin-top: 2%;
}

.ads-item6 {
  background-image: url(../image/ads-img6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 2%;
}

/* reservation section 8 */

.reservation {
  border: 4px solid red;
  width: 85%;
  margin: 4em auto;
}

form {
  border: 2px dashed green;
  margin-top: 2em;
  overflow: auto;
}
.form-group {
  border: 1px dashed blue;
  background-color: #f2f2f2;
  width: 49%;
  float: left;
  padding: 1em;
  height: 600px;
}
.form-group:nth-child(1) {
  margin-right: 2%;
}

form label {
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
form input , form select ,form textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}
.form-group p {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  margin: 1em;
}
.form-group h3 {
  text-align: center;
  text-transform: uppercase;
}

.form-group h3::after {
  content: "";
  display: block;
  border: 1px solid red;
  height: 30px;
  width: 150px;
  margin: auto;
  background-image: url(../image/reservation-cards.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.res-time {
  text-align: center;
}
.res-time input ,.res-agreement input{
  width: auto;
}

.form-group #submit {
  background-color: #c7a17a;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  border: 4px solid red;
  height: 350px;
}


.footer-content {
  border: 2px solid yellow;
  overflow: auto;
  width: 85%;
  margin: auto;
  height: 350px;
  
}

.footer-widgets {
  border: 2px solid blue;
  width:25%;
  float: left;
  height: 350px;
}

.footer-widgets th {
  font-weight: 700;
}







